<h1>Possible Hazards</h1>

<section>
  <div class="hazard plane">

  </div>

  <div class="hazard crane">

  </div>

  <div class="hazard confined">

  </div>

  <div class="hazard electrical">

  </div>

  <div class="hazard fall">

  </div>

  <div class="hazard fire">

  </div>

  <div class="hazard ground">

  </div>

  <div class="hazard bomb">

  </div>

  <div class="hazard machine">

  </div>

  <div class="hazard failure">

  </div>

  <div class="hazard energy">

  </div>

  <div class="hazard trenches">

  </div>
</section>
