body {
  max-width: 780px;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5rem;
}
nav {
  margin: auto;
  width: fit-content;
}
form {
  margin: auto;
}
input {
  background: url(search-icon.svg) left contain no-repeat #DCEDFF;
  font-size: 18px;
  color: #11151C;
  margin: 0 auto;
}
